<section class="authentication my-5 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-6 mx-auto">
        <form action="" class="auth-form mx-auto" id="login-form">
          <div class="text-center">
            <h1 class="form_title text-uppercase">Login</h1>
          </div>

          <div class="form_div">
            <input type="text" class="form_input" placeholder="" id="name">
            <label for="name" class="form_label">Email</label>
          </div>

          <div class="form_div">
            <input type="password" class="form_input" placeholder="" id="password">
            <label for="password" class="form_label">Password</label>
          </div>


          <div class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
            <a href="register.html" class="text-black-50 fw-bold">Forgot password?</a>
            <button type="submit" class="auth-form-button mb-2">Login</button>
          </div>
          <div class="w-100 text-center mt-4">
            <span class="text-black-50">Don't have an account <a href="register.html" class="text-warning fw-bold">Register</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
