<section class="authentication my-5 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-box">
          <div class="button-box">
            <div id="movingBtn"></div>
            <button type="button" class="toggle-btn text-black-50" onclick="company()">Dealer</button>
            <button type="button" class="toggle-btn text-black-50" onclick="individual()">Individual</button>
          </div>

          <form action="" class="auth-form" id="company">
            <div class="text-center">
              <h1 class="form_title text-uppercase">Register  as a Dealer</h1>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="name">
                  <label for="name" class="form_label">Company Name</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="mobile">
                  <label for="mobile" class="form_label">Mobile</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="wa-num">
                  <label for="wa-num" class="form_label">Whatsapp Number</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="email">
                  <label for="email" class="form_label">Email</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="password" class="form_input" placeholder="" id="password">
                  <label for="password" class="form_label">Password</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="password-confirm">
                  <label for="password-confirm" class="form_label">Confirm Password</label>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center  flex-md-row flex-column-reverse">
              <span class="text-black-50">Already have an account <a href="login.html" class="text-warning fw-bold">Login</a></span>
              <button type="submit" class="auth-form-button mb-2">Submit</button>
            </div>
          </form>
          <form action="" class="auth-form" id="individual">
            <div class="text-center">
              <h1 class="form_title text-uppercase">Register  as an individual</h1>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="name">
                  <label for="name" class="form_label">Full name</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="mobile">
                  <label for="mobile" class="form_label">Mobile</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="wa-num">
                  <label for="wa-num" class="form_label">Whatsapp Number</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="email">
                  <label for="email" class="form_label">Email</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="password" class="form_input" placeholder="" id="password">
                  <label for="password" class="form_label">Password</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form_div">
                  <input type="text" class="form_input" placeholder="" id="password-confirm">
                  <label for="password-confirm" class="form_label">Confirm Password</label>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center  flex-md-row flex-column-reverse">
              <span class="text-black-50">Already have an account <a href="login.html" class="text-warning fw-bold">Login</a></span>
              <button type="submit" class="auth-form-button mb-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
